In [2]:
"""
This is a multi line comment
Author: Shreyans Kothari
PRoject: Lecture 1"""

'\nThis is a multi line comment\nAuthor: Shreyans Kothari\nPRoject: Lecture 1'

In [ ]:
#This is a single line comment

In [1]:
my_var_int = 1
my_var_string = "shreyans"
my_var_boolean = True #False
my_var_float = 3.14

In [4]:
print(my_var_string)

shreyans

In [5]:
print(type(my_var_string)) #type() gives the type of the object

<class 'str'>

In [6]:
my_int_string = "1234"
print(type(my_int_string))

<class 'str'>

In [7]:
my_int_string_conv = int(my_int_string) #converting to integer

In [8]:
print(type(my_int_string_conv))

<class 'int'>

In [12]:
my_string = "Shreyans" + " "+ "Kothari" #concatenate

In [13]:
print(my_string)

Shreyans Kothari

In [14]:
print(my_string *2) #performs the function twice

Shreyans KothariShreyans Kothari

In [3]:
#Data Structure Type- List
#Lists can contain different data types
#two ways of making a list:
my_list = [] 
my_list = list()

In [4]:
my_list.append("Shreyans") #add stuff to list

In [5]:
my_list.append("Shreyans") #the more you do it, the more it will keep adding your name

In [6]:
my_list.append("Patrick")

In [7]:
print(my_list)

['Shreyans', 'Shreyans', 'Patrick']

In [22]:
# index starts at 0
my_list[2]

'Patrick'

In [24]:
print(len(my_list)) #len() gives the length of the object

3

In [25]:
#common interview question: how do you flip a list -->
print(my_list[::-1]) #This is how you reverse a list; take everything and reverse the order
#this won't change the actual order, just prints the flip since we used print()

['Patrick', 'Shreyans', 'Shreyas']

In [26]:
print (my_list[0:2])

['Shreyas', 'Shreyans']

In [36]:
my_list_a = [1, 2, 3]
my_list_b = [21, 31, 41]

In [28]:
my_list_a_copy = my_list_a
print(my_list_a_copy)

[1, 2, 3]

In [29]:
my_list_a.append(4)
print(my_list_a)

[1, 2, 3, 4]

In [30]:
print(my_list_a_copy) #NOTE!!! this way of copying connects it to the other object and any changes to that object are also made in this one

[1, 2, 3, 4]

In [31]:
my_list_a_copy = my_list_a.copy() #use the Tab button to get the menu with all commands like .copy()
print(my_list_a_copy)
# This way of copying just takes a snapshot and does not connect the new list to the old one
#changes to the old list won't change the new one

[1, 2, 3, 4]

In [32]:
my_list_a.append(123)
print(my_list_a)

[1, 2, 3, 4, 123]

In [33]:
print(my_list_a_copy)

[1, 2, 3, 4]

In [34]:
print(my_list_b)

[21, 31, 41]

In [35]:
my_list_a.append(my_list_b) #appending an array to another array 
print(my_list_a)
#just takes the whole array and adds it to the first array

[1, 2, 3, 4, 123, [21, 31, 41]]

In [37]:
my_list_a.extend(my_list_b) #this will just include all the numbers from list b to list a and won't just add it with the brackets
# flatten two arrays, use .extend() NOT .append()

In [38]:
print(my_list_a)

[1, 2, 3, 21, 31, 41]

In [42]:
my_ex_str = "the cat ran up the hill"
#tokenize the text above aka split the text based off something (like spaces)
tokenize_text = my_ex_str.split()
#This will split the text into an array with all the words
print(tokenize_text)

['the', 'cat', 'ran', 'up', 'the', 'hill']

In [46]:
my_ex_str ="the,cat,ran,up,the,hill"
print(my_ex_str.split(",")) #this will split it based off ","
my_ar = my_ex_str.split(",")

['the', 'cat', 'ran', 'up', 'the', 'hill']

In [47]:
#Join text together
my_join = ' '.join(my_ar) #you can join it with anything (like ",")
print(my_join)

the cat ran up the hill

In [51]:
#Data Structure Types- Set
#no matter how many types you put in a value (ex: "Shreyans"), it only shows up once in a set

#two ways to create a set
my_set = {}
my_set = set()
my_set.add("shreyans") #Add stuff to a set
my_set.add("shreyans") #adding again to see if it shows up more than once (it doesn't)
my_set.add("Shreyans") #Python is case sensitive
print(my_set)

{'shreyans', 'Shreyans'}

In [52]:
#Set logic --> prof uses it to create user personas at Publicis Media

my_set_a = {"fishing", "soccer", "20-24", "audi"}
my_set_b = {"hunting", "soccer", "65+", "volvo"}

In [54]:
print(my_set_b)

{'soccer', 'hunting', 'volvo', '65+'}

In [55]:
#intersection of the two sets
my_intersection = my_set_a.intersection(my_set_b) 
print(my_intersection)

{'soccer'}

In [56]:
#union of the two sets
my_union = my_set_a.union(my_set_b) 
print(my_union)

{'volvo', 'audi', 'fishing', 'soccer', 'hunting', '20-24', '65+'}

In [58]:
#difference of the two sets -- ORDERING HERE MATTERS
print(my_set_a.difference(my_set_b)) #What does a have that b doesn't
print(my_set_b.difference(my_set_a)) #What does b have that a doesn't

{'fishing', 'audi', '20-24'}
{'hunting', 'volvo', '65+'}

In [60]:
#Symmetric Difference -- ORDERING DOESN'T MATTER
print(my_set_a.symmetric_difference(my_set_b)) #what they don't share

{'volvo', 'audi', 'fishing', 'hunting', '20-24', '65+'}

In [61]:
my_list_conv =[1, 1, 4, 5, 6, 7, 10, 10]
print(my_list_conv)

[1, 1, 4, 5, 6, 7, 10, 10]

In [63]:
my_list_conv_set = set(my_list_conv) #converts list to set + removes duplication
print(my_list_conv_set)

{1, 4, 5, 6, 7, 10}

In [65]:
my_str_ex = "The CAT chase the Dog up the hill"
#to turn everything into lowercase
print(my_str_ex.lower())

the cat chase the dog up the hill

In [66]:
#to turn everything into uppercase
print(my_str_ex.upper())

THE CAT CHASE THE DOG UP THE HILL

In [ ]:
# Difference between Set and list: can only have unique characters in sets but it is case sensitive