In [2]:
"""
This is a multi line comment
Author: Shreyans Kothari
PRoject: Lecture 1"""

'\nThis is a multi line comment\nAuthor: Shreyans Kothari\nPRoject: Lecture 1'

In [ ]:
#This is a single line comment

In [1]:
my_var_int = 1
my_var_string = "shreyans"
my_var_boolean = True #False
my_var_float = 3.14

In [4]:
print(my_var_string)

shreyans

In [5]:
print(type(my_var_string)) #type() gives the type of the object

<class 'str'>

In [6]:
my_int_string = "1234"
print(type(my_int_string))

<class 'str'>

In [7]:
my_int_string_conv = int(my_int_string) #converting to integer

In [8]:
print(type(my_int_string_conv))

<class 'int'>

In [12]:
my_string = "Shreyans" + " "+ "Kothari" #concatenate

In [13]:
print(my_string)

Shreyans Kothari

In [14]:
print(my_string *2) #performs the function twice

Shreyans KothariShreyans Kothari

In [15]:
#Data Structure Type- List
#two ways of making a list:
my_list = [] 
my_list = list()