In [132]:
import re
f = open("Lec3text.txt", "r")
test = f.read()
type(test.split())
f.close()

In [ ]:

#scans the entire text, finds what we want it to find and replaces it
clean = re.sub('[^A-Za-z0-9]+', " ", my_str_1) #replace everything that is not an alphabet and a number and replace it with a single space
print(clean)

In [31]:
def txt_read(a):
    f = open(a, "r")
    reader = f.read
    with open(a) as b:
        for line in b:
            print(b)
    f.close()

In [79]:
txt_read("Lec3text.txt")

<_io.TextIOWrapper name='Lec3text.txt' mode='r' encoding='UTF-8'>
<_io.TextIOWrapper name='Lec3text.txt' mode='r' encoding='UTF-8'>
<_io.TextIOWrapper name='Lec3text.txt' mode='r' encoding='UTF-8'>

In [53]:
#In class exercise - Solution
#reads in text file and returns a data frame with each row as each line
def my_func(file_in):
    import pandas as pd
    my_pd = pd.DataFrame()
    with open (file_in) as f:
        for line in f:
            my_pd = my_pd.append({"body":re.sub('[^A-Za-z0-9]+', " ", line)}, ignore_index= True)
        return my_pd

In [78]:
my_test = my_func("Lec3text.txt")
my_test.tail()

                                                body
0  Hello This class has faced a lot of technical ...
1                                  Very frustrating
2                                               Ugh

In [82]:
#In class exercise 2
#reads in a text file and returns the text 
def my_func2(file_in):
    import re
    f = open(file_in, "r")
    read = f.read()
    clean = re.sub('[^A-Za-z0-9]+', " ", read).strip() #.strip() removes extra spaces at the end
    #line.strip("\n") takes out extra space at the end ONLY if you specify
    return clean

In [ ]:
#with f.read() you have to close the file with f.close() otherwise the file can be called to later on in the code
""""#in  with open (file_in) as f:
        for line in f:
            my_pd = my_pd.append({"body":re.sub('[^A-Za-z0-9]+', " ", line)}, ignore_index= True)
            
 We DO NOT have to file.close() as it automatically does it""""

In [83]:
my_func2("Lec3text.txt")

'Hello This class has faced a lot of technical difficulties today hopefully that doesn t happen again Very frustrating Ugh'

In [87]:
my_func2("Lec3text.txt")

'Hello This class has faced a lot of technical difficulties today hopefully that doesn t happen again Very frustrating Ugh'

In [104]:
""" we will iterate through an array of file names
open and process text in each file and append to pandas dataframe"""
the_files = ["Lec3text.txt", "test.txt"]

In [118]:
#my_func3 iterates through a list of files, opens each file, and displays them in a data frame
def my_func3(f_list):
    import pandas as pd
    my_pd = pd.DataFrame()
    for file in f_list:
        read_file= my_func2(file)
        my_pd = my_pd.append({"col":re.sub('[^A-Za-z0-9]+', " ", read_file).strip("\n")}, ignore_index =True)
    return my_pd

In [119]:
my_func3(the_files)

                                                 col
0  Hello This class has faced a lot of technical ...
1                   Hi How are you I am good and you

In [139]:
# Create two columns: 1)"num_words" shows count of total number of words 2) "unique_words"
def my_file_opener(file_array):
    import pandas as pd
    my_pd = pd.DataFrame()
    for file_in in file_array:
        tmp = open(file_in, "r")
        tmp_f = tmp.read()
        count = len(tmp_f.split())
        unique = len(set(tmp_f.split()))
        tmp.close() #ALWAYS CLOSE THIS
        tmp_f = re.sub('[^A-Za-z0-9]+', " ", tmp_f).strip() #\n extra spacex
        my_pd = my_pd.append({"body": tmp_f, "num_words": count, "unique_words": unique}, ignore_index=True)
    return my_pd

In [140]:
my_file_opener(the_files)

                                                body  num_words  unique_words
0  Hello This class has faced a lot of technical ...       19.0          19.0
1                   Hi How are you I am good and you        9.0           9.0

In [144]:
import datetime
time_str = "20210929"
my_dt = datetime.datetime.strptime(time_str, "%Y%m%d")
print(my_dt)

2021-09-29 00:00:00

In [148]:
print(my_dt.strftime("%Y-%m-%d"))

2021-09-29