In [1]:
#dictionary works off key, value pair
my_dictionary = dict()

In [2]:
print(type(my_dictionary))

<class 'dict'>

In [3]:
#Entering stuff in the dictionary:
my_dictionary["key_a"] = "gr5067"

In [4]:
print(my_dictionary)

{'key_a': 'gr5067'}

In [6]:
 #if we reassign something to key_a, it will overwrite it:
my_dictionary["key_a"] = "Beeswax"
print(my_dictionary)

{'key_a': 'Beeswax'}

In [7]:
my_dictionary["key_b"] = "intel"

In [8]:
print(my_dictionary)

{'key_a': 'Beeswax', 'key_b': 'intel'}

In [9]:
len(my_dictionary)

2

In [10]:
#retrieve keys
the_keys = my_dictionary.keys()
print(the_keys)

dict_keys(['key_a', 'key_b'])

In [11]:
#retrieve values
the_values = my_dictionary.values()
print(the_values)

dict_values(['Beeswax', 'intel'])

In [12]:
#You can add any data structures to a dictionary
my_dictionary["key_c"] = [1, 5, 6, 7]
print(my_dictionary)

{'key_a': 'Beeswax', 'key_b': 'intel', 'key_c': [1, 5, 6, 7]}

In [14]:
print(len(my_dictionary))

3

In [15]:
#instantiate dictionary another way
my_dictionary_ex = {"a": 1, "b": [5, 4, 6]}

In [ ]:
"""Loop Structure 1 """

In [16]:
##For loop
a_list = ["a", "g", "u", "z"]
for w in a_list:
    print(w)

a
g
u
z

In [18]:
#For loop 2
a_list = ["a", "g", "u", "z"]
new_list = list()
for w in a_list:
    new_list.append(w+"ed")
print(new_list)

['aed', 'ged', 'ued', 'zed']

In [19]:
#List comprehension
a_list = ["a", "g", "u", "z"]
new_list = [w+"ed" for w in a_list]
print(new_list)

['aed', 'ged', 'ued', 'zed']

In [22]:
#Adding new stuff to dictionary
a_list = ["a", "g", "u", "z"]
new_dictionary = {w:w+"ed" for w in a_list}
print(new_dictionary)

{'a': 'aed', 'g': 'ged', 'u': 'ued', 'z': 'zed'}

In [23]:
#For loop 3: Range
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [24]:
"""Loop Structure 2 """

'Loop Structure 2 '

In [25]:
#while loop 1
cnt = 0
while cnt <10:
    print(cnt)
    cnt += 1
    #this is equal to cnt = cnt +1

0
1
2
3
4
5
6
7
8
9

In [26]:
"""Creating a function"""
def math_fun():
    print("COMPLETED")
    
math_fun()

COMPLETED

In [27]:
#adder
def math_fun_func(a, b):
    tmp = a + b
    return tmp

In [33]:
a = math_fun_func(105, 895)
print(a)

1000

In [37]:
#boolean logic

#If elif else
a = 1
b = 5
c = 10

if a < 0:
    print("yeah")
elif b >3:
    print("whatever")
elif c == 10:
    print("Dsdsd")

whatever

In [38]:
if a < 0:
    print("yeah")
if b >3:
    print("whatever")
if c == 10:
    print("Dsdsd")

whatever
Dsdsd

In [39]:
if a < 0:
    print("yeah")
else:
    print("Oh No, no worries")

Oh No, no worries

In [40]:
a == a

True

In [41]:
a != a

False

In [46]:
type(1) == int == type(5)

True

In [76]:
#validate the input and make sure they are integers otherwise inform users to enter an interger only
def int_only(a, b):
    if (type(a) == int) and (type(b) == int):
        tmp = a + b
        return tmp
    else:
        print("enter an integer only")

In [81]:
int_only(1, "z")

enter an integer only
5

In [82]:
#Pandas library
import pandas as pd

In [110]:
my_pd = pd.DataFrame()
print(my_pd)

Empty DataFrame
Columns: []
Index: []

In [122]:
cnt = 0
while cnt <10:
    my_pd = my_pd.append({"a": cnt, "b": cnt-1}, ignore_index = True)
    cnt +=1

In [123]:
my_pd

     a    b
0  0.0 -1.0
1  1.0  0.0
2  2.0  1.0
3  3.0  2.0
4  4.0  3.0
5  5.0  4.0
6  6.0  5.0
7  7.0  6.0
8  8.0  7.0
9  9.0  8.0

In [91]:
my_pd.tail(1)

     a    b
9  9.0  8.0

In [92]:
#gives you summary statistics of the data frame
my_pd.describe()

              a         b
count  10.00000  10.00000
mean    4.50000   3.50000
std     3.02765   3.02765
min     0.00000  -1.00000
25%     2.25000   1.25000
50%     4.50000   3.50000
75%     6.75000   5.75000
max     9.00000   8.00000

In [108]:
my_pd_a = pd.DataFrame()
cnt = 0
while cnt <10:
    my_pd_a = my_pd_a.append({"a": cnt, "b": cnt-1, "c": cnt*2}, ignore_index = True)
    cnt +=1

In [109]:
my_pd_a.head()

     a    b    c
0  0.0 -1.0  0.0
1  1.0  0.0  2.0
2  2.0  1.0  4.0
3  3.0  2.0  6.0
4  4.0  3.0  8.0

In [118]:
#to grab multiple columns at the same time
my_pd_a[["a", "c"]]

     a     c
0  0.0   0.0
1  1.0   2.0
2  2.0   4.0
3  3.0   6.0
4  4.0   8.0
5  5.0  10.0
6  6.0  12.0
7  7.0  14.0
8  8.0  16.0
9  9.0  18.0

In [106]:
"""concatenate"""

'concatenate'

In [124]:
my_new_pd = pd.concat([my_pd, my_pd_a], axis = 1)

In [132]:
my_new_pd

     a    b    a    b     c
0  0.0 -1.0  0.0 -1.0   0.0
1  1.0  0.0  1.0  0.0   2.0
2  2.0  1.0  2.0  1.0   4.0
3  3.0  2.0  3.0  2.0   6.0
4  4.0  3.0  4.0  3.0   8.0
5  5.0  4.0  5.0  4.0  10.0
6  6.0  5.0  6.0  5.0  12.0
7  7.0  6.0  7.0  6.0  14.0
8  8.0  7.0  8.0  7.0  16.0
9  9.0  8.0  9.0  8.0  18.0

In [133]:
my_test_pd = my_new_pd[(my_new_pd.c > 2.0) & (my_new_pd.c <8.0)]
#If you want to rewrite entries in a pandas data frame, you can use this:
#my_new_pd[(my_new_pd.c > 2.0) & (my_new_pd.c <8.0)] = None
my_test_pd

     a    b    a    b    c
2  2.0  1.0  2.0  1.0  4.0
3  3.0  2.0  3.0  2.0  6.0

In [138]:
#converting pandas df to csv
"""___________Creating CSV File_____________"""
my_test_pd.to_csv("my_test.csv", index =False)

In [139]:
"""___________Read CSV File_____________"""
# my_read_csv = pd.read_csv("abc.csv")

'___________Read CSV File_____________'

In [165]:
#READ in a text file
f = open("text.rtf", "r")
# r denotes read
print(f)

<_io.TextIOWrapper name='text.rtf' mode='r' encoding='UTF-8'>

In [151]:
#iterate line by line
f.readline()

b'NLP is fun\\\n'

In [152]:
f.close()

In [166]:
f.read()

'{\\rtf1\\ansi\\ansicpg1252\\cocoartf1671\\cocoasubrtf600\n{\\fonttbl\\f0\\fswiss\\fcharset0 Helvetica;}\n{\\colortbl;\\red255\\green255\\blue255;}\n{\\*\\expandedcolortbl;;}\n\\margl1440\\margr1440\\vieww25100\\viewh15200\\viewkind0\n\\pard\\tx720\\tx1440\\tx2160\\tx2880\\tx3600\\tx4320\\tx5040\\tx5760\\tx6480\\tx7200\\tx7920\\tx8640\\pardirnatural\\partightenfactor0\n\n\\f0\\fs24 \\cf0 Hi\\\n\\\nNLP is fun\\\nML too}'

In [167]:
f.close()

In [176]:
f = open("text.rtf", "r")
test = f.read()
f.close()

In [184]:
my_str = "Hi How are you??? \n I am good, and you \n"

In [185]:
#Open the file to write
f = open("test.txt", "w")
# w denotes write

In [186]:
#command to write
f.write(my_str)

40

In [187]:
f.close()

In [188]:
my_str_1 = "Hi How are you??? . I am good, and you \n"

In [199]:
#regex: Regular Expressions
import re

#scans the entire text, finds what we want it to find and replaces it
clean = re.sub('[^A-Za-z0-9]+', " ", my_str_1) #replace everything that is not an alphabet and a number and replace it with a single space
print(clean)

Hi How are you I am good and you